<STYLE type="text/css">
.li-itemize{margin:1ex 0ex;}
.li-enumerate{margin:1ex 0ex;}
.dd-description{margin:0ex 0ex 1ex 4ex;}
.dt-description{margin:0ex;}
.toc{list-style:none;}
.thefootnotes{text-align:left;margin:0ex;}
.dt-thefootnotes{margin:0em;}
.dd-thefootnotes{margin:0em 0em 0em 2em;}
.footnoterule{margin:1em auto 1em 0px;width:50%;}
.caption{padding-left:2ex; padding-right:2ex; margin-left:auto; margin-right:auto}
.title{margin:2ex auto;text-align:center}
.center{text-align:center;margin-left:auto;margin-right:auto;}
.flushleft{text-align:left;margin-left:0ex;margin-right:auto;}
.flushright{text-align:right;margin-left:auto;margin-right:0ex;}
DIV TABLE{margin-left:inherit;margin-right:inherit;}
PRE{text-align:left;margin-left:0ex;margin-right:auto;}
BLOCKQUOTE{margin-left:4ex;margin-right:4ex;text-align:left;}
TD P{margin:0px;}
.boxed{border:1px solid black}
.textboxed{border:1px solid black}
.vbar{border:none;width:2px;background-color:black;}
.hbar{border:none;height:2px;width:100%;background-color:black;}
.hfill{border:none;height:1px;width:200%;background-color:black;}
.vdisplay{border-collapse:separate;border-spacing:2px;width:auto; empty-cells:show; border:2px solid red;}
.vdcell{white-space:nowrap;padding:0px;width:auto; border:2px solid green;}
.display{border-collapse:separate;border-spacing:2px;width:auto; border:none;}
.dcell{white-space:nowrap;padding:0px;width:auto; border:none;}
.dcenter{margin:0ex auto;}
.vdcenter{border:solid #FF8000 2px; margin:0ex auto;}
.minipage{text-align:left; margin-left:0em; margin-right:auto;}
.marginpar{border:solid thin black; width:20%; text-align:left;}
.marginparleft{float:left; margin-left:0ex; margin-right:1ex;}
.marginparright{float:right; margin-left:1ex; margin-right:0ex;}
.theorem{text-align:left;margin:1ex auto 1ex 0ex;}
.part{margin:2ex auto;text-align:center}
.rfloat{float:right;}
body{
    font-family: noto sans;
    font-size: medium;
    margin: 20%;
    margin-top: 5px;
    background-color: #2a6099;
    }

.main {
    background-color: #fcfcfc;
    padding-left: 20px;
    padding-right: 20px;
    }
.mainheading {
    background-color: #fcfcfc;
    width: 100%;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    }
.subsection {
    text-decoration: underline;
    }

h1, h2, h3, h4{font-weight: normal;
}
h1{font-size: 140%;}
h2{font-size: 130%;
border-bottom: solid 1pt;
}
h3{font-size: 115%;}
h4{font-size: 105%;}
.paragraph{font-size: 105%;
font-weight: normal;
/* text-decoration: underline; */
}
.alphaenum ol{list-style-type: lower-alpha;
}
.mantra{border: solid;
border-width: 1px;
border-color: #aaa;
background: #eee;
margin: 2pt;
margin-left: 8%;
margin-right: 8%;
padding: 2pt;
}
.summary{border: solid;
border-width: 3px;
border-color: #2a6099;
background: #d9ecff;
margin: 2pt;
padding: 10px;
padding-bottom: 0px;
}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
.floatright{float: right;
}
.mini {font-size:.6em}
</STYLE>
